{% extends "base.html" %}

{% block innercontent %}

	<div id="base_div" style="text-align:center; position:relative; height:90%; background-color:#0b4379;" >

		<div style="position:absolute; top:20%; left:0; width:100%; font-family: Noto Sans, sans-serif;">
			<p>
	   			Welcome, Michiko!
	   		</p>
		      
	   		<div style="padding-top:80px">
		    	<button id="upload_button" class="index_button"> Upload New Dataset</button>
		    	<button class="index_button"> Use Existing Dataset</button>
		    </div>

		    <div id="upload_form_div" style="padding-top: 80px; display:none">
			    <form action = "/write_data/" method = "POST" 
		         enctype = "multipart/form-data">
			       	<input class="index_button" type = "file" name = "file" accept=".csv">
			        <input id="submit_button" class="index_button" type = "submit">
			    </form>
			</div>

			<div id="flash_div" style="font-size:24px; padding-top:40px; width:60%; margin:auto; text_align:center">
				<div id="uploading_message" style="display:none">
					<p style="line-height:normal">Your data is uploading.  This could take several minutes.  Please do not navigate away from this page.</p>
				</div>

				<div id="message_div">
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
					    {% for message in messages %}
					    	<p style="line-height:normal">{{ message }}</p>
					    {% endfor %}
					  {% endif %}
					{% endwith %}
				</div>
			</div>

		</div>

	</div>


<script>

	$(document).ready(function(){
		$("#upload_button").click(function(){
			$("#upload_form_div").toggle(10);
			$("#message_div").hide();
		});

		$("#submit_button").click(function(){
			$("#uploading_message").show();
		})


	});

// var interactions = {{ interactions|safe }};
// console.log(interactions);

</script>


    
{% endblock %}