{% extends "base.html" %}

{% block innercontent %}

	<div id="base_div" style="text-align:center; position:relative; height:90%; background-color:#0b4379;" >

		<div style="position:absolute; top:30%; left:0; width:100%">
			<p>
	   			Welcome, Michiko!
	   		</p>
		    
		    <button class="index_button"> Upload New Dataset</button>
		    <button class="index_button"> Use Existing Dataset</button>

		</div>

	</div>


	<script>

		// var interactions = {{ interactions|safe }};
		// console.log(interactions);

	</script>


    
{% endblock %}