{% extends "base.html" %}

{% block innercontent %}

	<div id="base_div" style="text-align:center; position:relative; height:90%; background-color:#0b4379;" >

		<div style="position:absolute; top:30%; left:0; width:100%; font-family: Noto Sans, sans-serif;">
			<p>
	   			Welcome, Michiko!
	   		</p>
		      
		    <button id="upload_button" class="index_button"> Upload New Dataset</button>
		    <button class="index_button"> Use Existing Dataset</button>

		    <div id="upload_form_div" style="padding-top: 40px; display:none">
			    <form action = "/write_data/" method = "POST" 
		         enctype = "multipart/form-data">
			         <input class="index_button" type = "file" name = "file" />
			         <input class="index_button" type = "submit"/>
			      </form> 	
			</div>

		</div>

	</div>


<script>

	$(document).ready(function(){
		$("#upload_button").click(function(){
			$("#upload_form_div").toggle(10)
		});


	});

// var interactions = {{ interactions|safe }};
// console.log(interactions);

</script>


    
{% endblock %}