{% extends "base.html" %}

{% block innercontent %}


<div class="screen_div">

	<div class="heading_div">
 		<h1>INVESTORS</h1>
 	</div>

 	<div class="row">
	 	<div class="col-sm-3">
	 		<div class="data_block_1">
	 			<h5>Investors</h5>
	 			<center>
	 				{{ data|length }}
	 			</center>

	 		</div>

	 		<div class="data_block_1">
	 			<h5>Top Investors by Interactions</h5>
	 			<table>
	 				{% for inv in top_investors %}
	 					<tr>
	 						<td><a href="/investors/{{ inv[0] }}">Acct. {{ inv[0] }}</a></td>
	 						<td style="padding-left:30px">{{ inv[1] }}</td>
	 					</tr>	
	 				{% endfor %}
	 			</table>

	 		</div>

	 	</div>

	 	<div class="col-sm-9">

			<div class="widget_panel">
				<div class="row">
					<div class="col-sm-6" style="padding-right:40px">
						<table>
							<tr>
								<td>
									<label>Year</label>
								</td>
								<td>
									<select id="widget_year" class="form-control widget">
										<option selected>All</option>
										{% for year in select_values['years'] %}
											<option>{{ year }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<label>Region</label>
								</td>
								<td>
									<select id="widget_region" class="form-control widget">
										<option selected>All</option>
										{% for region in select_values['regions'] %}
											<option>{{ region }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<label>Global Access Tier</label>
								</td>
								<td>
									<select id="widget_global_access" class="form-control widget">
										<option selected>All</option>
										{% for tier in select_values['tiers'] %}
											<option>{{ tier }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td style="padding-top:15px">
									<label>Video Conference</label>
								</td>
								<td class="form-check" style="padding-top:15px">

									<input id="widget_video" class="form-check-input widget" type="checkbox">
								</td>
							</tr>


						</table>
								
					</div>
					<div class="col-sm-6" style="padding-left:40px">
						<table class="slider_table">
							<tr>
								<td>
									Min. Interactions
								</td>
								<td>
    								<input id="widget_interactions" class="custom-range widget" type="range" min="0" max="200" value="0">
								</td>
								<td class="td_slider_label">
									<span class="font-weight-bold slider_label">0</span>
								</td>
							</tr>

							<tr>
								<td>
									Min. 1:1 %
								</td>
								<td>
    								<input id="widget_ooo" class="custom-range widget" type="range" min="0" max="100" value="0">
								</td>
								<td class="td_slider_label">
									<span class="font-weight-bold slider_label">0</span>
								</td>
							</tr>

							<tr>
								<td>
									Min. Mgmt. %
								</td>
								<td>
									<input id="widget_mgmt" class="custom-range widget" type="range" min="0" max="100" value="0">
								</td>
								<td class="td_slider_label">
									<span class="font-weight-bold slider_label">0</span>
								</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
			

			<div class="output_div" style="padding:30px">
				<center>
					<h2>Total Investors: <span id="investor_count">{{ data|length }}</span></h2>
				</center>

				<div class="output_table_div">
					<table id="investor_table" class="table table-striped">
						<thead>
							<tr>
								{% for c in html_colnames %}
									<th span="col">{{ c|safe }}</th>
								{% endfor %}
							</tr>
							<tbody id="table_body">
							</tbody>
						</thead>

					</table>
				</div>


			</div>

		</div>

	</div>

</div>

<script>

var DataFrame = dfjs.DataFrame;
var data = {{ data|safe }};
var colnames = {{ colnames|safe }};

function writeTable(df) {
	var table_values = df.toArray();

	var html_string = "";
	for (var i=0; i<table_values.length; i++){
		var row = table_values[i];
		html_string += "<tr>";
		// first column = acct # with link
		html_string += '<td><a href=\"/investors/'+row[0]+'\">'+row[0]+'</a></td>';
		for (var j=1; j<row.length; j++){
			html_string += '<td>' + row[j] + '</td>';
		}
		html_string += "</tr>";
	}
	$("#table_body").empty();
	$("#table_body").append(html_string);
	$("#investor_count").html(df.count());
}

//filter table based on widgets
function filterTable() {

	//create a new dataframe with all original data
	var df = new DataFrame(data, colnames);

	//filter based on year
	var year = $("#widget_year").val();
	if(year != 'All'){
		df = df.filter(row => row.get("year") == year);
	}

	var region = $("#widget_region").val();
	if(region != 'All'){
		df = df.filter(row => row.get("investor_region") == region);
	}

	var type = $("#widget_global_access").val();
	if(type != 'All'){
		df = df.filter(row => row.get("global_access") == type);
	}

	if($("#widget_video").is(':checked')){
		df = df.filter(row => row.get("vid_call_pct") > 0);
	}

	var minInters = $("#widget_interactions").val();
	if (minInters > 0){
		df = df.filter(row => row.get("total_interactions") >= minInters);
	}

	var mgmtPct = $("#widget_mgmt").val();
	if (mgmtPct > 0){
		df = df.filter(row => row.get("management_pct") >= mgmtPct);
	}

	var oooPct = $("#widget_ooo").val();
	if (oooPct > 0){
		df = df.filter(row => row.get("one_on_one_pct") >= oooPct);
	}

	//write the dataframe table to HTML table
	writeTable(df);
}

$(document).ready(function(){

	var df = new DataFrame(data, colnames);
	writeTable(df);
	
	
	$(".widget").change(function() {
		filterTable();
	});

	$(".custom-range").change(function() {
		var current_value = this.value;
		$(this).closest('tr').find('.slider_label').html(current_value);
	});


});



</script>





	
{% endblock %}