{% extends "base.html" %}

{% block innercontent %}
<div class="screen_div">

	<div class="heading_div">
 		<h1>SEARCH</h1>
 	</div>

 	<div class="row">
	 	<div class="col-sm-3">
	 		<div class="data_block_1">
	 			<h5>Results</h5>
	 			<center>
	 				{{ results }}
	 			</center>

	 		</div>

	 	</div>

	 	<div class="col-sm-9">
			

			<div class="output_div">
				<center>
					<h2>{{ searched }}</h2>
					<br>
				</center>

				<div class="output_table_div">
					<table id="inv_results_table" class="table table-striped">
						<thead>
							<tr>
								{% for c in i_columns %}
									<th span="col">{{ c }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for res in i_results %}
							<tr>
								<td><a href="/investors/{{ res[0] }}">{{ res[0] }}</a></td>
								<td>{{ res[1] }}</td>
								<td>{{ res[2] }}</td>
								<td>{{ res[3] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br>
					<table id="corp_results_table" class="table table-striped">
						<thead>
							<tr>
								{% for c in c_columns %}
									<th>{{ c }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for res in c_results %}
							<tr>
								<td><a href="/corporates/{{ res[0] }}">{{ res[1] }}</a></td>
								<td>{{ res[2] }}</td>
								<td>{{ res[3] }}</td>
								<td>{{ res[4] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>


			</div>

		</div>

	</div>

</div>


<script>

	$(document).ready(function(){
		console.log('Loaded SEARCH');

	});

</script>


    
{% endblock %}