{% extends "base.html" %}

{% block innercontent %}


<div class="screen_div">
  <div class="col-sm-12">
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_1">
  				Corporate
  			</div>
  		</div>
  		<div class="col-sm-8">
  			<div class="text_heading">
  				{{ corporate_info['company_name'] }}
  			</div>
  		</div>
      <div class="col-sm-1">
        <form action="/corporates/{{corporate_info['corporate_id']}}">
  			  <button class="detail_button_3">Back</button>
        </form>
  		</div>
  	</div>
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_2">
  				Account
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="text_heading">
  				{{ corporate_info['corporate_id'] }}
  			</div>
  		</div>
  	</div>
  </div>

  <div class="col-md-12">
    <div class="div_heading_1">
      Similar Corporates
    </div>
    <div></div>
    <center>*similarities are based on interaction statistics and not characteristics such as region or location</center>
    <div></div>

    <div style="padding-top:40px">
    <center>
      <div class="col-md-3">
        <form action=/corporates/{{corporate_info['neighbors'][0]}}>
          <button class="data_block_1">
            <div class="data_block_heading">{{corporate_info['neighbors'][0]}}: {{corporate_info['neighbor_names'][0]}}</div>
          </button>
        </form>
      </div>
      <div class="col-md-3">
        <form action=/corporates/{{corporate_info['neighbors'][1]}}>
          <button class="data_block_1">
            <div class="data_block_heading">{{corporate_info['neighbors'][1]}}: {{corporate_info['neighbor_names'][1]}}</div>
          </button>
        </form>
      </div>
      <div class="col-md-3">
        <form action=/corporates/{{corporate_info['neighbors'][2]}}>
          <button class="data_block_1">
            <div class="data_block_heading">{{corporate_info['neighbors'][2]}}: {{corporate_info['neighbor_names'][2]}}</div>
          </button>
        </form>
      </div>
    </center>
    </div>
  </div>
</div>



<script>



$(document).ready(function(){



});



</script>





{% endblock %}
