{% extends "base.html" %}

{% block innercontent %}


<div class="screen_div">


  <div class="col-sm-12">
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_1">
  				Investor
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="text_heading">
  				{{ investor_info['name'] }}
  			</div>
  		</div>
      <div class="col-sm-3">
        <form action={{ investor_info['acct'] }}/similar_investors.html>
          <button class="similar_button">Similar Investors</button>
        </form>
  		</div>
      <div class="col-sm-1">
        <form action = "/investors">
  			   <button class="detail_button_3">Back</button>
        </form>
  		</div>
  	</div>
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_2">
  				Account
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="text_heading">
  				{{ investor_info['acct'] }}
  			</div>
  		</div>
      <div class="col-sm-3">
  		</div>
  	</div>
  </div>

  <div class="row year_button_row">
		<button class="year_button year_button_single year_selected" value="All">All Time</button>
		{% for y in year_set %}
			<button class="year_button year_button_single" value="{{ y }}">{{ y }}</button>
		{% endfor %}
		<button class="year_button" id = "y" value="Custom" data-toggle="modal" data-target="#year_custom">Custom Range</button>
    <button id="pm_button" class="portfolio_button" data-toggle="modal" data-target="#pm_modal">By Portfolio Manager</button>
    <button class="report_button" id = "button_report" value="Custum">Generate Report</button>
	</div>

  <div id="overview_button_div" class="row hidden">
    <button id="overview_button">Return to Overview</button>
  </div>

  <div class="row" id="overview_div">
    <div class="col-md-12">
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_interactions">
  					<div class="data_block_heading">Total Interactions</div>
  					<span id="db_total_interactions"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_unique_corporates">
  					<div class="data_block_heading">Unique Companies</div>
            <span id="db_unique_companies"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_unique_industries">
  					<div class="data_block_heading">Unique Industries</div>
  					<span id="db_unique_industries"></span>
  				</button>
  			</div>
        <div class="col-md-3">
  				<button class="data_block_3">
  					<div class="data_block_heading">YTD Fees</div>
  					<center>Fees Obfuscated</center>
  				</button>
  			</div>
  		</div>
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_meeting_type">
  					<div class="data_block_heading">Prevalent Meeting Type</div>
  					<span id="db_meeting_type"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Management Presence</div>
  					<span id="db_management"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Private Corporates</div>
  					<span id="db_private"></span>
  				</button>
  			</div>
        <div class="col-md-3">
  				<button class="data_block_3">
  					<div class="data_block_heading">2019 Fees</div>
  					<center>Fees Obfuscated</center>
  				</button>
  			</div>
  		</div>
      <div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Public Corporates</div>
  					<span id="db_public"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Average Market Cap</div>
  					<span id="db_market_cap"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_market_bucket">
  					<div class="data_block_heading">Prevalent Market Bucket</div>
  					<span id="db_market_bucket"></span>
  				</button>
  			</div>
        <div class="col-md-3">
  				<button class="data_block_3">
  					<div class="data_block_heading">2018 Fees</div>
  					<center>Fees Obfuscated</center>
  				</button>
  			</div>
  		</div>
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Total Cancelations</div>
  					<center>Info Not Available</center>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2" id="button_us_based">
  					<div class="data_block_heading">US Based Corporates</div>
  					<span id="db_US"></span>
  				</button>
  			</div>
  			<div class="col-md-3">
  				<button class="data_block_2">
  					<div class="data_block_heading">Video Conference</div>
  					<span id="db_video"></span>
  				</button>
  			</div>
        <div class="col-md-3">
  				<button class="data_block_1">
  					<div class="data_block_heading">MIFID Flag</div>
            <center>Not Available</center>
  				</button>
  			</div>
  		</div>
    </div>
	</div>


  <div id="interactions_table_div" class="hidden detail_div">

    <div class="widget_panel" style="padding-bottom:50px">
      <div class="row">
        <div class="col-md-4" style="padding-right:40px; padding-left: 40px">
          <table>
            <tr>
              <td>
                <label>Corporate Name</label>
              </td>
              <td>
                <select id="widget_company_name" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Corporate Region</label>
              </td>
              <td>
                <select id="widget_company_region" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Corporate Industry</label>
              </td>
              <td>
                <select id="widget_company_industry" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>

          </table>
        </div>
        <div class="col-md-4" style="padding-right:40px; padding-left: 40px">
          <table>
            <tr>
              <td>
                <label>Event Type</label>
              </td>
              <td>
                <select id="widget_event_type" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Meeting Type</label>
              </td>
              <td>
                <select id="widget_meeting_type" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>City</label>
              </td>
              <td>
                <select id="widget_city" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>

          </table>

        </div>

        <div class="col-md-4" style="padding-right:40px; padding-left: 40px">
          <table>
            <tr>
              <td>
                <label>Region Visited</label>
              </td>
              <td>
                <select id="widget_global_region_visited" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Management Present</label>
              </td>
              <td>
                <select id="widget_management_presence" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Video Call</label>
              </td>
              <td>
                <select id="widget_video_flag" class="form-control widget">
                  <option selected>All</option>
                </select>
              </td>
            </tr>

          </table>

        </div>

      </div>
    </div>




    <center>
      <h2>Total Interactions: <span id="interactions_count"></span></h2>
    </center>

    <div class="individual_table_div">
      <table id="interactions_table" class="table table-striped">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>

  <div id="unique_corporates_div" class="detail_div hidden">
    <div class="unique_corporates_table_div">
      <div class="individual_table_div">
        <table id="unique_corporates_table" class="table table-striped">
          <thead>
            <tr>
              <th span="col">Corporate Name</th>
              <th span="col">Corporate Region</th>
              <th span="col">Corporate Industry</th>
              <th span="col">Total Interactions</th>
              <!-- <th span="col">Most Recent Interaction</th> -->
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div id="unique_industries_div" class="detail_div hidden">
    <div class="unique_industries_table_div">
      <div class="individual_table_div">
        <table id="unique_industries_table" class="table table-striped">
          <thead>
            <tr>
              <th span="col">Industry Name</th>
              <th span="col">Total Interactions</th>
              <th span="col">Unique Corporates</th>
              <!-- <th span="col">Most Recent Interaction</th> -->
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div id="generate_report_div" class="detail_div hidden" style="width:90%; margin:auto">
    <form method="post" action="/investor-report/">

      <input name="acct" type="hidden" value="{{ investor_info['acct'] }}">

    <div class="row" style="padding-bottom:30px; border-bottom: 1px solid black">
      <div class="col-md-2">
        <label>Start Year</label>
        <select id="report_start_year" name="report_start_year" class="form-control report_select">
          {% for y in year_set %}
            <option>{{ y }}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label>End Year</label>
        <select id="report_end_year" name="report_end_year" class="form-control report_select">
          {% for y in year_set %}
            <option>{{ y }}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label>Portfolio Manager</label>
        <select id="report_pm" name="report_pm" class="form-control report_select">
          <option>All</option>
          {% for pm in pm_list %}
            <option>{{ pm }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label>Analyst</label>
        <select id="report_analyst" name="report_analyst" class="form-control report_select">
          <option>All</option>
          {% for analyst in analyst_list %}
            <option>{{ analyst }}</option>
          {% endfor %}
        </select>
      </div>

    </div>


    <div class="report_select_div" style="padding-top:30px">

        <div class = "text_heading2">Select items to be included in report:</div>
          <div class = "row">
            <div class="col-md-4 text_heading2">
              <h2 class="gen_report_heading">Charts</h2>
              <div>
                <input type="checkbox" id="interactions_check" name="interactions_check" checked>
                <label for="interactions_check">Interactions by Year</label>
              </div>
              <div>
                <input type="checkbox" id="meeting_type_check" name="meeting_type_check" checked>
                <label for="meeting_type_check">Meeting Type Breakdown</label>
              </div>
              <div>
                <input type="checkbox" id="region_check" name="region_check" checked>
                <label for="region_check">Corporate Region Breakdown</label>
              </div>
              <div>
                <input type="checkbox" id="market_bucket_check" name="market_bucket_check" checked>
                <label for="market_bucket_check">Market Bucket Breakdown</label>
              </div>
            </div>

            <div class = "col-md-4 text_heading2">
              <h2 class="gen_report_heading">Stats</h2>
  <!--             <div>
                <input type="checkbox" id="cancelation_check" name="cancelation_check">
                <label for="cancelation_check">Total Cancelations</label>
              </div> -->
              <div>
                <input type="checkbox" id="unique_corporates_check" name="unique_corporates_check" checked>
                <label for="unique_corporates_check">Unique Corporates</label>
              </div>
              <div>
                <input type="checkbox" id="unique_industries_check" name="unique_industries_check" checked>
                <label for="unique_industries_check">Unique Industries</label>
              </div>
              <div>
                <input type="checkbox" id="management_check" name="management_check" checked>
                <label for="management_check">Management Presence</label>
              </div>
              <div>
                <input type="checkbox" id="public_check" name="public_check" checked>
                <label for="public_check">% Public / Private</label>
              </div>
              <div>
                <input type="checkbox" id="market_cap_check" name="market_cap_check" checked>
                <label for="market_cap_check">Average Market Cap</label>
              </div>
              <div>
                <input type="checkbox" id="video_conf_check" name="video_conf_check" checked>
                <label for="video_conf_check">% Video Conference</label>
              </div>
  <!--             <div>
                <input type="checkbox" id="fees_check" name="ytd_fees_check">
                <label for="ytd_fees_check">Fees</label>
              </div> -->
            </div>

            <div class = "col-md-4 text_heading2">
              <h2 class="gen_report_heading">Tables</h2>
              <div>
                <input type="checkbox" id="top_industries_check" name="top_industries_check" checked>
                <label for="top_industries_check">Top Industries</label>
              </div>
            </div>


          </div>
        </div>

        <div class="row">
          <button class = "gen_report_button" type="submit">Generate Report</button>
        </div>



      </div>

    </form>

  </div>

  <div id="graphic_div" class="detail_div hidden">
    <div id="graphic" style="width:80%; margin:auto"></div>
  </div>

  <div id="pm_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Portfolio Manager</h4>
        </div>
        <div class="modal-body">
          <div class="widget_panel">
            <!-- bookmark -->
            <select id="pm_select" class="form-control">
              <option selected>All</option>
              {% for pm in pm_list %}
                <option>{{ pm }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>


    </div>


  </div>

  <div id="year_custom" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Date Range</h4>
      </div>
      <div class="modal-body">
        <div>Please make sure to select Max Year >= Min Year</div>
        <div class="widget_panel">
          <table class="slider_table">
          <tr>
            <td>
              Min. Year
            </td>
            <td>
              <input id="min_yr" class="custom-range year_range" type="range" min="2017" max="2019" value="2017">
            </td>
            <td class="td_slider_label">
              <span class="font-weight-bold slider_label">2017</span>
            </td>
          </tr>
          <tr>
            <td>
              Max. Year
            </td>
            <td>
              <input id="max_yr" class="custom-range year_range" type="range" min="2017" max="2019" value="2019">
            </td>
            <td class="td_slider_label">
              <span class="font-weight-bold slider_label">2019</span>
            </td>
          </tr></table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</div>


<script>

// read in passed data
var DataFrame = dfjs.DataFrame;
var data = {{ data|safe }};
var colnames = {{ colnames|safe }};
var html_colnames = {{ html_colnames|safe }};

var plot_data_global = [];
var plot_title_global = "Interactions by Meeting Type";
var plot_variable_global = "meeting_type";

var min_yr = 0;
var max_yr = 3000;
var pm = 'All';

function makePlot(data, title="Interactions by Global Access Tier") {

  plot_data_global = data;
  plot_title_global = title;

  var final_data = [];
  var data_total = 0;
  var data_keys = Object.keys(data[0]);

  for (var i=0; i < data.length; i++){
    if (data[i][data_keys[0]] == null){
      final_data.push({'name':'NA',
            'value':data[i][data_keys[1]]})
    }

    else {
      final_data.push({'name':data[i][data_keys[0]],
            'value':data[i][data_keys[1]]})
    }
    data_total += data[i][data_keys[1]];

  }


  $("#graphic").empty();

  //sort bars based on value
    data = final_data.sort(function (a, b) {
        return d3.ascending(a.value, b.value);
    });


    var margin = {
        top: 60,
        right: 120,
        bottom: 15,
        left: 300
    };

    var width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var svg = d3.select("#graphic").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.linear()
        .range([0, width])
        .domain([0, d3.max(data, function (d) {
            return d.value;
        })]);

    var y = d3.scale.ordinal()
        .rangeRoundBands([height, 0], .1)
        .domain(data.map(function (d) {
            return d.name;
        }));

    //make y axis to show bar names
    var yAxis = d3.svg.axis()
        .scale(y)
        //no tick marks
        .tickSize(0)
        .orient("left");

    var gy = svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    var bars = svg.selectAll(".bar")
        .data(data)
        .enter()
        .append("g")

    //append rects
    bars.append("rect")
        .attr("class", "bar")
        .attr("y", function (d) {
            return y(d.name);
        })
        .attr("height", y.rangeBand())
        .attr("x", 0)
        .attr("width", function (d) {
            return x(d.value);
        })
        .attr("class", "graph_bar");

    //add a value label to the right of each bar
    bars.append("text")
        .attr("class", "chart_label")
        //y position of the label is halfway down the bar
        .attr("y", function (d) {
            return y(d.name) + y.rangeBand() / 2 + 4;
        })
        //x position is 3 pixels to the right of the bar
        .attr("x", function (d) {
            return x(d.value) + 3;
        })
        .text(function (d) {
            return String(d.value) + ' (' + String(Math.round(100*d.value / data_total)) + `%)`;
        });

    svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "32px")
        .text(title);

}

//write data in dataframe to the HTML table
function writeInteractionsTable(df) {

  df = df.select('date', 'company_name', 'company_region', 'company_industry',
          'event_type', 'meeting_type', 'city',
          'global_region_visited', 'management_presence',
          'video_flag');

  var html_string = "<tr>";
  var current_columns = df.listColumns();
  for (var i=0; i<current_columns.length; i++){
    html_string += `<th span='col'>` + html_colnames[current_columns[i]] + `</th>`;
  }
  html_string += '</tr>';
  $("#interactions_table thead").empty();
  $("#interactions_table thead").append(html_string);

  var table_values = df.toArray();

  var html_string = "";
  for (var i=0; i<table_values.length; i++){
    var row = table_values[i];
    html_string += "<tr>";
    for (var j=0; j<row.length; j++){
      var output = row[j];
      if(output == null){
        output = '-'
      }
      html_string += '<td>' + output + '</td>'
    }
    html_string += "</tr>";
  }

  $("#interactions_table tbody").empty();
  $("#interactions_table tbody").append(html_string);
  // $("#corporate_count").html(df.count());
}

function populateWidgets(df){

  var current_columns = ['company_name', 'company_region', 'company_industry',
              'event_type', 'meeting_type', 'city',
              'global_region_visited', 'management_presence',
              'video_flag'];

  for (var i=0; i<current_columns.length; i++){
    var col = current_columns[i];
    var values = df.distinct(col).toArray().flat().sort();
    for (var j=0; j<values.length; j++){
      if (values[j] != null){
        $("#widget_"+col).append(`<option>`+values[j]+`</option>`);
      }
    }
  }


}

//filter table based on widgets
function filterInteractionsTable(df) {

  var df = df;

  var current_columns = ['company_name', 'company_region', 'company_industry',
              'event_type', 'meeting_type', 'city',
              'global_region_visited', 'management_presence',
              'video_flag'];

  for (var i=0; i<current_columns.length; i++){
    var col = current_columns[i];
    var value = $("#widget_"+col).val();
    if(value != 'All'){
      df = df.filter(row => row.get(col) == value);
    }
  }

  $("#interactions_count").text(df.count());

  writeInteractionsTable(df);
}

function filterCorporatesTable(df) {

  var grouped_df = df.groupBy('corporate_id', 'company_name', 'company_region', 'company_industry');
  var corporates = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();

  var html_string = ""
  for (var i=0; i<corporates.length; i++){
    if (corporates[i]['company_name'] == null){
      continue;
    }

    var region = corporates[i]['company_region'];
    if (region == null){
      region = 'NA'
    }

    html_string += `<tr>
              <td><a href="/corporates/` + corporates[i]['corporate_id'] + `">` + corporates[i]['company_name'] + `</a></td>
              <td>` + region + `</td>
              <td>` + corporates[i]['company_industry'] + `</td>
              <td>` + corporates[i]['aggregation'] + `</td>

            </tr>`
  }


  $("#unique_corporates_table tbody").empty();
  $("#unique_corporates_table tbody").append(html_string);

}

function filterIndustriesTable(df) {

  var grouped_df = df.groupBy('company_industry');
  var industries = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();

  var html_string = ""
  for (var i=0; i<industries.length; i++){
    if (industries[i]['company_industry'] == null){
      continue;
    }

    html_string += `<tr>
              <td>` + industries[i]['company_industry'] + `</td>
              <td>` + industries[i]['aggregation'] + `</td>
              <td>` + industries[i]['aggregation'] + `</td>

            </tr>`
  }


  $("#unique_industries_table tbody").empty();
  $("#unique_industries_table tbody").append(html_string);

}

function addCommas(nStr){
  console.log(nStr + 1);
  var suffix = 'MM';
  if (nStr >= 1000){
    nStr = Math.round(nStr / 1000);
    suffix = 'B';
  }
  nStr += '';
  var x = nStr.split('.');
  var x1 = x[0];
  var x2 = x.length > 1 ? '.' + x[1] : '';
  var rgx = /(\d+)(\d{3})/;
  while (rgx.test(x1)) {
    x1 = x1.replace(rgx, '$1' + ',' + '$2');
  }
  return x1 + x2 + suffix;
}



function writeDataBlocks(df) {

	//Average Market cap
  var market_cap = Math.round(df.stat.mean('market_cap'))
  $("#db_market_cap").text('$'.concat(addCommas(market_cap)));

	//Total Interactions
	$("#db_total_interactions").text(df.count());

	//Unique Companies
	$("#db_unique_companies").text(df.distinct('corporate_id').count())

  //Unique Companies
	$("#db_unique_industries").text(df.distinct('company_industry').count())

	//Management Presence
	$("#db_management").text(String(Math.round(df.stat.mean('management_flag')*100)) + '%')

	//Private or Public
	var private_count = df.filter(row => row.get('market_bucket') == 'Private/unknown').count()
	$("#db_private").text(String(Math.round(100 * private_count / df.count())) + '%')
  $("#db_public").text(String(Math.round(100 - (100 * private_count / df.count()))) + '%')

	//Favorite Meeting Type
	var grouped_df = df.groupBy('meeting_type');
	var types = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
	$("#db_meeting_type").text(types[0]['meeting_type']);

  //Favorite Market Bucket
  var grouped_df = df.groupBy('market_bucket');
	var types = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
  var market_bucket = types[0]['market_bucket'];
  if (market_bucket == 'Private/unknown'){
    market_bucket = 'Private/other';
  }
	$("#db_market_bucket").text(market_bucket);

	//Video %
	var webcast_count = df.filter(row => row.get('medium') == 'Video Conference').count()
	$("#db_video").text(String(Math.round(100 * webcast_count / df.count())) + '%')

  //US Based %
  var US_count = df.filter(row => row.get('company_region') == 'US').count()
  $("#db_US").text(String(Math.round(100 * US_count / df.count())) + '%')

}

function filterPM(pm, df){
  // var df = new DataFrame(data, colnames);
  if (pm != 'All') {
    df = df.filter(row => row.get("pm") == pm);
  }

  writeDataBlocks(df);
  filterInteractionsTable(df);
  filterCorporatesTable(df);
  filterIndustriesTable(df);
  return df;
}

function filterYear(year){

	var df = new DataFrame(data, colnames);
  if (year.includes('All')) {
    return df;
  }

  var year_set = {{year_set}};
  for (let i = 0; i < year_set.length; i++){
    year_set[i] = String(year_set[i]);
  }

  if (year_set.includes(year)){
    df = df.filter(row => row.get("year") == year);
    return df
  }

  years = Array.from(document.getElementById("year_dropdown").options).filter(option => option.selected).map(option => option.value);

  for (let i = 0; i < years.length; i++){
    df = df.filter(row => row.get("year") == years[i]);
  }

  return df;
}

function filterCustomYear() {
  df = new DataFrame(data, colnames);
  var min_yr = $("#min_yr").val();
  df = df.filter(row => row.get("year") >= min_yr);
  var max_yr = $("#max_yr").val();
  df = df.filter(row => row.get("year") <= max_yr);

  writeDataBlocks(df);
  filterInteractionsTable(df);
  filterCorporatesTable(df);
  filterIndustriesTable(df);


  var grouped_df = df.groupBy(plot_variable_global);
  var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
  makePlot(plot_data, plot_title_global);
}

function runFilters(){

  // var year = $(this).val();
  df = new DataFrame(data, colnames);
  df = df.filter(row => row.get("year") >= min_yr);
  df = df.filter(row => row.get("year") <= max_yr);

  if (pm != 'All'){
    df = df.filter(row => row.get("pm") == pm);
  }

  writeDataBlocks(df);
  filterInteractionsTable(df);
  filterCorporatesTable(df);
  filterIndustriesTable(df);


  var grouped_df = df.groupBy(plot_variable_global);
  var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
  makePlot(plot_data, plot_title_global);
}

$(document).ready(function(){

	var df = new DataFrame(data, colnames);

	writeDataBlocks(df);
  filterInteractionsTable(df);
  filterCorporatesTable(df);
  filterIndustriesTable(df);

  populateWidgets(df);

	$(".year_button_single").click(function(){
		$(".year_button").removeClass('year_selected');
    $(this).addClass('year_selected');
    if ($(this).val() == 'All'){
      min_yr = 0;
      max_yr = 3000;
    } else {
      min_yr = $(this).val();
      max_yr = $(this).val();
    }

    runFilters();
	});

  $(".custom-range").change(function() {
    var current_value = this.value;
    $(this).closest('tr').find('.slider_label').html(current_value);
  });

  $(".year_range").change(function() {
    min_yr = $("#min_yr").val();
    max_yr = $("#max_yr").val();
    runFilters();
  });

  $("#year_custom").click(function() {
    min_yr = $("#min_yr").val();
    max_yr = $("#max_yr").val();
    runFilters();
  });

  $("#pm_select").change(function() {
    pm = $(this).val();
    runFilters();
    if (this.value != 'All'){
      $("#pm_button").text(this.value);
    } else {
      $("#pm_button").text("By Portfolio Manager");
    }

  });

  $("#y").click(function(){
		$(".year_button").removeClass('year_selected');
		$(this).addClass('year_selected');
	});

  $("#button_report").click(function(){
    $(".detail_div").hide();
    $("#generate_report_div").removeClass('hidden');
    $("#generate_report_div").show();

    // $(".detail_div").hide();
    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#button_interactions").click(function(){
    $("#interactions_table_div").removeClass('hidden');
    $("#interactions_table_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#overview_button").click(function(){
    $(".detail_div").hide();
    $("#overview_button_div").hide();
    $("#overview_div").show();
  });

  $("#button_unique_corporates").click(function(){
    $("#unique_corporates_div").removeClass('hidden');
    $("#unique_corporates_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#button_unique_industries").click(function(){
    $("#unique_industries_div").removeClass('hidden');
    $("#unique_industries_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#button_meeting_type").click(function(){
    plot_variable_global = 'meeting_type';
    var grouped_df = df.groupBy('meeting_type');
    var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
    makePlot(plot_data, title="Interactions by Meeting Type");


    $("#graphic_div").removeClass('hidden');
    $("#graphic_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#button_market_bucket").click(function(){
    plot_variable_global = 'market_bucket';
    var grouped_df = df.groupBy('market_bucket');
    var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
    makePlot(plot_data, title="Interactions by Market Bucket");


    $("#graphic_div").removeClass('hidden');
    $("#graphic_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $("#button_us_based").click(function(){
    plot_variable_global = 'company_region';
    var grouped_df = df.groupBy('company_region');
    var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
    makePlot(plot_data, title="Interactions by Corporate Region");


    $("#graphic_div").removeClass('hidden');
    $("#graphic_div").show();

    $("#overview_div").hide();
    $("#overview_button_div").removeClass('hidden');
    $("#overview_button_div").show();
  });

  $(".widget").change(function(){
    filterInteractionsTable(df);
  });



});



</script>




{% endblock %}
