{% extends "base.html" %}

{% block innercontent %}


<div class="screen_div">

	<div class="row row_heading">
		<div class="col-sm-2">
			<div class="div_heading_1">
				Corporate
			</div>
		</div>
		<div class="col-sm-10">
			<div class="text_heading">
				{{ corporate_info['company_name'] }}
			</div>
		</div>
	</div>

	<div class="row row_heading">
		<div class="col-sm-2">
			<div class="div_heading_2">
				Account
			</div>
		</div>
		<div class="col-sm-10">
			<div class="text_heading">
				{{ corporate_info['corporate_id'] }}
			</div>
		</div>
	</div>

	<div class="row year_button_row">
		<button class="year_button year_selected" value="All">All Time</button>
		{% for y in year_set %}
			<button class="year_button" value="{{ y }}">{{ y }}</button>
		{% endfor %}
		<button class="year_button" id = "y" value="Custom" data-toggle="modal" data-target="#year_custom">Custom Range</button>
	</div>

	<div id="overview_button_div" class="row hidden">
		<button id="overview_button">Return to Overview</button>
	</div>


	<div id = "overview_div" class="row">
		<div class="col-md-9">
			<div class="row" class="data_block_row">
				<div class="col-md-4">
					<button class="data_block_2">
						<div class="data_block_heading">Region</div>
						{{ corporate_info['region'] }}
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2">
						<div class="data_block_heading">Industry</div>
						{{ corporate_info['company_industry'] }}
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2">
						<div class="data_block_heading">Market Cap</div>
						<span id="db_market_cap"></span>
					</button>
				</div>
			</div>
			<div class="row" class="data_block_row">
				<div class="col-md-4">
					<button class="data_block_2" id="button_interactions">
						<div class="data_block_heading">Total Interactions</div>
						<span id="db_total_interactions"></span>
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2" id="button_unique_investors">
						<div class="data_block_heading">Unique Investors</div>
						<span id="db_unique_investors"></span>
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2" id="button_meeting_type">
						<div class="data_block_heading">Prevalent Meeting Type</div>
						<span id="db_meeting_type"></span>
					</button>
				</div>
			</div>
			<div class="row" class="data_block_row">
				<div class="col-md-4">
					<button class="data_block_2 graph_button" id="button_global_access">
						<div class="data_block_heading">Platinum</div>
						<span id="db_platinum"></span>
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2">
						<div class="data_block_heading">Management Presence</div>
						<span id="db_management"></span>
					</button>
				</div>
				<div class="col-md-4">
					<button class="data_block_2">
						<div class="data_block_heading">Video %</div>
						<span id="db_video"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="text-align:center">

			<img src="/static/images/ml_image.png" style="width:100px; height:auto;">

			<form action={{ corporate_info['corporate_id'] }}/similar_corporates.html>
				<button class="similar_button">Similar Corporates</button>
			</form>

		</div>
	</div>

	<div id="interactions_table_div" class="hidden detail_div">

		<div class="widget_panel" style="padding-bottom:50px">
			<div class="row">
				<div class="col-md-4" style="padding-right:40px; padding-left: 40px">
					<table>
						<tr>
							<td>
								<label>Account ID</label>
							</td>
							<td>
								<select id="widget_acct" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Global Access Tier</label>
							</td>
							<td>
								<select id="widget_global_access" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Investor Region</label>
							</td>
							<td>
								<select id="widget_investor_region" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>

					</table>
				</div>
				<div class="col-md-4" style="padding-right:40px; padding-left: 40px">
					<table>
						<tr>
							<td>
								<label>Event Type</label>
							</td>
							<td>
								<select id="widget_event_type" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Meeting Type</label>
							</td>
							<td>
								<select id="widget_meeting_type" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>City</label>
							</td>
							<td>
								<select id="widget_city" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>

					</table>

				</div>

				<div class="col-md-4" style="padding-right:40px; padding-left: 40px">
					<table>
						<tr>
							<td>
								<label>Region Visited</label>
							</td>
							<td>
								<select id="widget_global_region_visited" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Management Present</label>
							</td>
							<td>
								<select id="widget_management_presence" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Video Call</label>
							</td>
							<td>
								<select id="widget_video_flag" class="form-control widget">
									<option selected>All</option>
								</select>
							</td>
						</tr>

					</table>

				</div>

			</div>
		</div>




		<center>
			<h2>Total Interactions: <span id="interactions_count"></span></h2>
		</center>

		<div class="individual_table_div">
			<table id="interactions_table" class="table table-striped">
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

	</div>

	<div id="unique_investors_div" class="detail_div hidden">
		<div class="unique_investors_table_div">
			<div class="individual_table_div">
				<table id="unique_investors_table" class="table table-striped">
					<thead>
						<tr>
							<th span="col">Account ID</th>
							<th span="col">Investor Region</th>
							<th span="col">Global Access</th>
							<th span="col">Total Interactions</th>
							<!-- <th span="col">Most Recent Interaction</th> -->
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div id="graphic_div" class="detail_div hidden">
		<div id="graphic" style="width:80%; margin:auto"></div>
	</div>
	<div id="year_custom" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Date Range</h4>
      </div>
      <div class="modal-body">
				<div>Please make sure to select Max Year >= Min Year</div>
        <div class="widget_panel">
          <table class="slider_table">
          <tr>
            <td>
              Min. Year
            </td>
            <td>
              <input id="min_yr" class="custom-range widget" type="range" min="2017" max="2019" value="2017">
            </td>
            <td class="td_slider_label">
              <span class="font-weight-bold slider_label">2017</span>
            </td>
          </tr>
          <tr>
            <td>
              Max. Year
            </td>
            <td>
              <input id="max_yr" class="custom-range widget" type="range" min="2017" max="2019" value="2019">
            </td>
            <td class="td_slider_label">
              <span class="font-weight-bold slider_label">2019</span>
            </td>
          </tr></table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</div>


<script>


// read in passed data
var DataFrame = dfjs.DataFrame;
var data = {{ data|safe }};
var colnames = {{ colnames|safe }};
var html_colnames = {{ html_colnames|safe }};

var plot_data_global = [];
var plot_title_global = "";
var plot_variable_global = "";


function makePlot(data, title="Interactions by Global Access Tier") {

	console.log(data);
	plot_data_global = data;
	plot_title_global = title;

	var final_data = [];
	var data_total = 0;
	var data_keys = Object.keys(data[0]);

	for (var i=0; i < data.length; i++){
		if (data[i][data_keys[0]] == null){
			final_data.push({'name':'NA',
						'value':data[i][data_keys[1]]})
		}

		else {
			final_data.push({'name':data[i][data_keys[0]],
						'value':data[i][data_keys[1]]})
		}
		data_total += data[i][data_keys[1]];

	}


	$("#graphic").empty();

	//sort bars based on value
    data = final_data.sort(function (a, b) {
        return d3.ascending(a.value, b.value);
    });


    var margin = {
        top: 60,
        right: 120,
        bottom: 15,
        left: 300
    };

    var width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var svg = d3.select("#graphic").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.linear()
        .range([0, width])
        .domain([0, d3.max(data, function (d) {
            return d.value;
        })]);

    var y = d3.scale.ordinal()
        .rangeRoundBands([height, 0], .1)
        .domain(data.map(function (d) {
            return d.name;
        }));

    //make y axis to show bar names
    var yAxis = d3.svg.axis()
        .scale(y)
        //no tick marks
        .tickSize(0)
        .orient("left");

    var gy = svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    var bars = svg.selectAll(".bar")
        .data(data)
        .enter()
        .append("g")

    //append rects
    bars.append("rect")
        .attr("class", "bar")
        .attr("y", function (d) {
            return y(d.name);
        })
        .attr("height", y.rangeBand())
        .attr("x", 0)
        .attr("width", function (d) {
            return x(d.value);
        })
        .attr("class", "graph_bar");

    //add a value label to the right of each bar
    bars.append("text")
        .attr("class", "chart_label")
        //y position of the label is halfway down the bar
        .attr("y", function (d) {
            return y(d.name) + y.rangeBand() / 2 + 4;
        })
        //x position is 3 pixels to the right of the bar
        .attr("x", function (d) {
            return x(d.value) + 3;
        })
        .text(function (d) {
            return String(d.value) + ' (' + String(Math.round(100*d.value / data_total)) + `%)`;
        });

    svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "32px")
        .text(title);

}

function addCommas(nStr){
  console.log(nStr + 1);
  var suffix = 'MM';
  if (nStr >= 1000){
    nStr = Math.round(nStr / 1000);
    suffix = 'B';
  }
  nStr += '';
  var x = nStr.split('.');
  var x1 = x[0];
  var x2 = x.length > 1 ? '.' + x[1] : '';
  var rgx = /(\d+)(\d{3})/;
  while (rgx.test(x1)) {
    x1 = x1.replace(rgx, '$1' + ',' + '$2');
  }
  return x1 + x2 + suffix;
}

function writeDataBlocks(df) {

	//Market cap (most recent)
	var current_values = df.select('market_cap').toArray();
	var market_cap = current_values[current_values.length-1][0];
	console.log(Number.isNaN(market_cap));
	if (!Number.isNaN(market_cap)) {
		market_cap = "$".concat(addCommas(current_values[current_values.length-1][0]));
		$("#db_market_cap").text(market_cap);
	} else{
		$("#db_market_cap").text('NA');
	}

	//Total Interactions
	$("#db_total_interactions").text(df.count());

	//Unique Investors
	$("#db_unique_investors").text(df.distinct('acct').count())

	//Management Presence
	$("#db_management").text(String(Math.round(df.stat.mean('management_flag')*100)) + '%')

	//Platinum
	var platinum_count = df.filter(row => row.get('global_access') == 'Global Access Platinum').count()
	console.log(platinum_count);
	$("#db_platinum").text(String(Math.round(100 * platinum_count / df.count())) + '%')

	//Prevalent Meeting Type
	var grouped_df = df.groupBy('meeting_type');
	var types = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
	$("#db_meeting_type").text(types[0]['meeting_type']);

	//Video %
	var webcast_count = df.filter(row => row.get('medium') == 'Video Conference').count()
	$("#db_video").text(String(Math.round(100 * webcast_count / df.count())) + '%')

}

function filterYear(year){

	var df = new DataFrame(data, colnames);

	//filter based on year
	if(!['All', 'Custom'].includes(year)){
		df = df.filter(row => row.get("year") == year);
	}


	return df;
}

//write data in dataframe to the HTML table
function writeInteractionsTable(df) {

	df = df.select('date', 'global_access', 'acct', 'investor_region',
					'event_type', 'meeting_type', 'city',
					'global_region_visited', 'management_presence',
					'video_flag');

	var html_string = "<tr>";
	var current_columns = df.listColumns();
	for (var i=0; i<current_columns.length; i++){
		html_string += `<th span='col'>` + html_colnames[current_columns[i]] + `</th>`;
	}
	html_string += '</tr>';
	$("#interactions_table thead").empty();
	$("#interactions_table thead").append(html_string);

	var table_values = df.toArray();

	var html_string = "";
	for (var i=0; i<table_values.length; i++){
		var row = table_values[i];
		html_string += "<tr>";
		for (var j=0; j<row.length; j++){
			var output = row[j];
			if(output == null){
				output = '-'
			}
			html_string += '<td>' + output + '</td>'
		}
		html_string += "</tr>";
	}
	$("#interactions_table tbody").empty();
	$("#interactions_table tbody").append(html_string);
	// $("#corporate_count").html(df.count());
}

function populateWidgets(df){

	var current_columns = ['global_access', 'acct', 'investor_region',
							'event_type', 'meeting_type', 'city',
							'global_region_visited', 'management_presence',
							'video_flag'];

	for (var i=0; i<current_columns.length; i++){
		var col = current_columns[i];
		var values = df.distinct(col).toArray().flat().sort();
		for (var j=0; j<values.length; j++){
			if (values[j] != null){
				$("#widget_"+col).append(`<option>`+values[j]+`</option>`);
			}
		}
	}


}

//filter table based on widgets
function filterInteractionsTable(df) {

	var df = df;

	var current_columns = ['global_access', 'acct', 'investor_region',
							'event_type', 'meeting_type', 'city',
							'global_region_visited', 'management_presence',
							'video_flag'];

	for (var i=0; i<current_columns.length; i++){
		var col = current_columns[i];
		var value = $("#widget_"+col).val();
		if(value != 'All'){
			df = df.filter(row => row.get(col) == value);
		}
	}

	$("#interactions_count").text(df.count());

	writeInteractionsTable(df);
}

function filterInvestorsTable(df) {

	var grouped_df = df.groupBy('acct', 'investor_region', 'global_access');
	// console.log(grouped_df.show());
	var investors = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();

	var html_string = ""
	for (var i=0; i<investors.length; i++){
		if (investors[i]['acct'] == null){
			continue;
		}

		var tier = investors[i]['global_access'];
		if (tier == null){
			tier = 'NA'
		}

		html_string += `<tr>
							<td><a href="/investors/` + investors[i]['acct'] + `">` + investors[i]['acct'] + `</a></td>
							<td>` + tier + `</td>
							<td>` + investors[i]['investor_region'] + `</td>
							<td>` + investors[i]['aggregation'] + `</td>

						</tr>`
	}


	$("#unique_investors_table tbody").empty();
	$("#unique_investors_table tbody").append(html_string);

}
$('.selectpicker').addClass('year_button').selectpicker('setStyle');

$(document).ready(function(){

	var df = new DataFrame(data, colnames);

	filterInteractionsTable(df);
	filterInvestorsTable(df);

	writeDataBlocks(df);

	populateWidgets(df);

	$(".year_button").click(function(){
		$(".year_button").removeClass('year_selected');
		$(this).addClass('year_selected');

		var year = $(this).val();
		df = filterYear(year);
		writeDataBlocks(df);
		filterInteractionsTable(df);
		filterInvestorsTable(df);


		var grouped_df = df.groupBy(plot_variable_global);
		var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
		makePlot(plot_data, plot_title_global);

	});

	$(".custom-range").change(function() {
    var current_value = this.value;
    $(this).closest('tr').find('.slider_label').html(current_value);
  });

  $(".widget").change(function() {
    df = new DataFrame(data, colnames);
    var min_yr = $("#min_yr").val();
    df = df.filter(row => row.get("year") >= min_yr);
    var max_yr = $("#max_yr").val();
    df = df.filter(row => row.get("year") <= max_yr);

    writeDataBlocks(df);
    filterInteractionsTable(df);
    filterCorporatesTable(df);
    filterIndustriesTable(df);


    var grouped_df = df.groupBy(plot_variable_global);
    var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
    makePlot(plot_data, plot_title_global);
  });

  $("#y").click(function(){
		$(".year_button").removeClass('year_selected');
		$(this).addClass('year_selected');
	});

	$("#button_interactions").click(function(){
		$("#interactions_table_div").removeClass('hidden');
		$("#interactions_table_div").show();

		$("#overview_div").hide();
		$("#overview_button_div").removeClass('hidden');
		$("#overview_button_div").show();
	});

	$("#button_unique_investors").click(function(){
		$("#unique_investors_div").removeClass('hidden');
		$("#unique_investors_div").show();

		$("#overview_div").hide();
		$("#overview_button_div").removeClass('hidden');
		$("#overview_button_div").show();
	});

	$("#overview_button").click(function(){
		$(".detail_div").hide();
		$("#overview_button_div").hide();
		$("#overview_div").show();
	});

	$("#button_global_access").click(function(){
		plot_variable_global = 'global_access';
		var grouped_df = df.groupBy('global_access');
		var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
		makePlot(plot_data, title="Interactions by Global Access Tier");


		$("#graphic_div").removeClass('hidden');
		$("#graphic_div").show();

		$("#overview_div").hide();
		$("#overview_button_div").removeClass('hidden');
		$("#overview_button_div").show();
	});

	$("#button_meeting_type").click(function(){
		plot_variable_global = 'meeting_type';
		var grouped_df = df.groupBy('meeting_type');
		var plot_data = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
		makePlot(plot_data, title="Interactions by Meeting Type");


		$("#graphic_div").removeClass('hidden');
		$("#graphic_div").show();

		$("#overview_div").hide();
		$("#overview_button_div").removeClass('hidden');
		$("#overview_button_div").show();
	});

	$(".widget").change(function(){
		filterInteractionsTable(df);
	});


});



</script>





{% endblock %}
