{% extends "base.html" %}

{% block innercontent %}


<div class="screen_div">


  <div class="col-sm-12">
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_1">
  				Investor
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="text_heading">
  				Investor Name Obfuscated
  			</div>
  		</div>
      <div class="col-sm-3">
  			<button class="detail_button_2">Similar Investors</button>
  		</div>
      <div class="col-sm-1">
  			<button class="detail_button_3">Back</button>
  		</div>
  	</div>
    <div class="row row_heading">
  		<div class="col-sm-2">
  			<div class="div_heading_2">
  				Account
  			</div>
  		</div>
  		<div class="col-sm-6">
  			<div class="text_heading">
  				{{ investor_info['acct'] }}
  			</div>
  		</div>
      <div class="col-sm-3">
  			<button class="detail_button_2">Match Corporates</button>
  		</div>
  	</div>
  </div>

  <div class="row year_button_row">
		<button class="year_button year_selected" value="All">All Time</button>
		{% for y in year_set %}
			<button class="year_button" value="{{ y }}">{{ y }}</button>
		{% endfor %}
		<button class="year_button" value="Custom">Custom Range</button>
    <button class="portfolio_button" value="Custum">By Portfolio Manager</button>
    <button class="report_button" value="Custum">Generate Report</button>
	</div>

  <div class="row">
    <div class="col-md-12">
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Total Interactions</div>
  					<span id="db_total_interactions"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Unique Companies</div>
            <span id="db_unique_companies"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Unique Industries</div>
  					<span id="db_unique_industries"></span>
  				</div>
  			</div>
        <div class="col-md-3">
  				<div class="data_block_3">
  					<div class="data_block_heading">YTD Fees</div>
  					<center>Fees Obfuscated</center>
  				</div>
  			</div>
  		</div>
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Favorite Meeting Type</div>
  					<span id="db_meeting_type"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Management Presence</div>
  					<span id="db_management"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Private Corporates</div>
  					<span id="db_private"></span>
  				</div>
  			</div>
        <div class="col-md-3">
  				<div class="data_block_3">
  					<div class="data_block_heading">2019 Fees</div>
  					<center>Fees Obfuscated</center>
  				</div>
  			</div>
  		</div>
      <div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Public Corporates</div>
  					<span id="db_public"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Average Market Cap</div>
  					<span id="db_market_cap"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Favorite Market Bucket</div>
  					<span id="db_market_bucket"></span>
  				</div>
  			</div>
        <div class="col-md-3">
  				<div class="data_block_3">
  					<div class="data_block_heading">2018 Fees</div>
  					<center>Fees Obfuscated</center>
  				</div>
  			</div>
  		</div>
  		<div class="row" class="data_block_row">
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Total Cancelations</div>
  					<center>Info Not Available</center>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">US Based Corporates</div>
  					<span id="db_US"></span>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="data_block_2">
  					<div class="data_block_heading">Video Conference</div>
  					<span id="db_video"></span>
  				</div>
  			</div>
        <div class="col-md-3">
  				<div class="data_block_1">
  					<div class="data_block_heading">MIFID Flag</div>
            <center>Not Available</center>
  				</div>
  			</div>
  		</div>
    </div>
	</div>

</div>


<script>

// read in passed data
var DataFrame = dfjs.DataFrame;
var data = {{ data|safe }};
var colnames = {{ colnames|safe }};


function writeDataBlocks(df) {

	//Average Market cap
  $("#db_market_cap").text(Math.round(df.stat.mean('market_cap')));

	//Total Interactions
	$("#db_total_interactions").text(df.count());

	//Unique Companies
	$("#db_unique_companies").text(df.distinct('corporate_id').count())

  //Unique Companies
	$("#db_unique_industries").text(df.distinct('company_industry').count())

	//Management Presence
	$("#db_management").text(String(Math.round(df.stat.mean('management_flag')*100)) + '%')

	//Private or Public
	var private_count = df.filter(row => row.get('market_bucket') == 'Private/unknown').count()
	$("#db_private").text(String(Math.round(100 * private_count / df.count())) + '%')
  $("#db_public").text(String(Math.round(100 - (100 * private_count / df.count()))) + '%')

	//Favorite Meeting Type
	var grouped_df = df.groupBy('meeting_type');
	var types = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
	$("#db_meeting_type").text(types[0]['meeting_type']);

  //Favorite Market Bucket
  var grouped_df = df.groupBy('market_bucket');
	var types = grouped_df.aggregate(group => group.count()).sortBy('aggregation', reverse=true).toCollection();
	$("#db_market_bucket").text(types[0]['market_bucket']);

	//Video %
	var webcast_count = df.filter(row => row.get('medium') == 'Video Conference').count()
	$("#db_video").text(String(Math.round(100 * webcast_count / df.count())) + '%')

  //US Based %
  var US_count = df.filter(row => row.get('company_region') == 'US').count()
  $("#db_US").text(String(Math.round(100 * US_count / df.count())) + '%')

}

function filterYear(year){

	var df = new DataFrame(data, colnames);

	//filter based on year
	if(!['All', 'Custom'].includes(year)){
		df = df.filter(row => row.get("year") == year);
	}

	writeDataBlocks(df);
}

//write data in dataframe to the HTML table
function writeTable(df) {
	var table_values = df.toArray();

	var html_string = "";
	for (var i=0; i<table_values.length; i++){
		var row = table_values[i];
		html_string += "<tr>";
		for (var j=0; j<row.length; j++){
			html_string += '<td>' + row[j] + '</td>'
		}
		html_string += "</tr>";
	}
	$("#table_body").empty();
	$("#table_body").append(html_string);
	$("#corporate_count").html(df.count());
}

//filter table based on widgets
function filterTable() {

	//create a new dataframe with all original data
	var df = new DataFrame(data, colnames);

	//filter based on year
	var year = $("#widget_year").val();
	if(year != 'All'){
		df = df.filter(row => row.get("year") == year);
	}

	var region = $("#widget_region").val();
	if(region != 'All'){
		df = df.filter(row => row.get("company_region") == region);
	}

	var type = $("#widget_type").val();
	if(type != 'All'){
		df = df.filter(row => row.get("company_type") == type);
	}

	if($("#widget_video").is(':checked')){
		df = df.filter(row => row.get("vid_call_pct") > 0);
	}

	var minInters = $("#widget_interactions").val();
	if (minInters > 0){
		df = df.filter(row => row.get("total_interactions") >= minInters);
	}

	var mgmtPct = $("#widget_mgmt").val();
	if (mgmtPct > 0){
		df = df.filter(row => row.get("management_pct") >= mgmtPct);
	}

	var oooPct = $("#widget_ooo").val();
	if (oooPct > 0){
		df = df.filter(row => row.get("one_on_one_pct") >= oooPct);
	}

	$("#corporate_count").val(df.count());

	//write the dataframe table to HTML table
	writeTable(df);
}

$(document).ready(function(){

	console.log(colnames);

	var df = new DataFrame(data, colnames);

	writeDataBlocks(df);

	$(".year_button").click(function(){
		$(".year_button").removeClass('year_selected');
		$(this).addClass('year_selected');

		var year = $(this).val();
		filterYear(year);
	});


});



</script>




{% endblock %}
