body{
	font-family: Noto Sans, sans-serif;
	/*background:#e5e5e5;*/
}

h1 {
	color:#0B4479;
}

select {
	min-width:120px;
}

text {
	font-size:20px;
}

#base_div{
	font-family: Noto Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 78px;
	color:white;
}


#overview_button {
	background: #0B4479;
	padding:10px;
	color:white;
	border-radius:5px;
	margin-left:10px;
}

#overview_button_div{
	padding-left:20px;
	padding-bottom:30px;
}

.chart_label {
	font-size:22px;
}

.custom-range {
	width:200px;
}

.data_block_1 {
	width: 100%;
	padding: 20px 25px 25px 20px;
	background: #C7D2DD;
	border-radius: 5px;
	margin-bottom:20px;
	color: #0B4479;
	font-size:30px;
}

.data_block_1 h5 {
	font-size: 24px;
	color:  #6B7D8D;
}

.data_block_1 table {
	font-size: 20px;
	color:  #0B4479;
	width: 100%;
}

.data_block_1 td {
	padding-top:30px;
}

.data_block_2 {
	width:100%;
	padding: 20px 25px 25px 20px;
	background: #0B4479;
	border-radius: 5px;
	margin-bottom:20px;
	color: white;
	font-size:30px;
	text-align:center;
	font-weight:bold;
}

.data_block_3 {
	width:100%;
	padding: 20px 25px 25px 20px;
	background: #FFFFFF;
	border-radius: 5px;
	border-style: solid;
	border-color: #0B4479;
	margin-bottom:20px;
	color: #0B4479;
	font-size:30px;
	text-align:center;
	font-weight:bold;
}

.data_block_heading {
	font-size: 24px;
	padding: 5px;
	font-weight:normal;
}

.data_block_row {

}

.datatable {
	max-width:100px;
}

.detail_button {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	background: #C7D2DD;
	border-radius: 5px;
	color: #0B4479;
	font-size:24px;
	text-align:center;
	margin-top:40px;
}
.detail_button_2 {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	background: #C7D2DD;
	border-radius: 5px;
	color: #0B4479;
	font-size:24px;
	text-align:center;
}

.detail_button_3 {
	width:100%;
	padding-top:8px;
	padding-bottom:8PX;
	background: #6B7D8D;
	border-radius: 5px;
	color: #FFFFFF;
	font-size:24px;
	text-align:center;
}

.div_heading_1 {
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	background: #0B4479;
	border-radius: 5px;
	color: white;
	font-size:30px;
	text-align:center;
}

.div_heading_2 {
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	background: #C7D2DD;
	border-radius: 5px;
	color: #0B4479;
	font-size:30px;
	text-align:center;
}

.graph_bar {
	fill: #0B4479;
}

.heading_div {
	padding-bottom:20px;
}

.hidden {
	display:none;
}

.index_button {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 25px;
	background-color:transparent;
	color:white;
	font-size:36px;
	font-family: Noto Sans, sans-serif;
	padding:8px;
	padding-left:15px;
	padding-right:15px;
	margin-left:30px;
	margin-right:30px;
}

.individual_table_div {
	max-height:400px;
	width:90%;
	margin:auto;
	overflow:scroll;
}

.output_div {
}

.output_table_div {
	max-height:600px;
	overflow:scroll;
}

.row_heading {
	padding-bottom: 15px;
}

.screen_div {
	padding-left:30px;
	padding-right:30px;
	padding-top:40px;
	padding-bottom:40px;
}

.similar_button {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	background: #C7D2DD;
	border-radius: 5px;
	color: #0B4479;
	font-size:24px;
	text-align:center;
}

.gen_report_button {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
	background: #C7D2DD;
	color:#0B4479;
	font-size:24px;
}


.td_slider_label {
	padding-left:95px;
}

.text_heading {
	color: #0B4479;
	font-size: 36px;
}

.text_heading2 {
	color: #0B4479;
	font-size: 24px;
	padding-bottom: 24px;
}

.widget {
	max-width:240px;
}

.widget_panel {
	width:80%;
	margin:auto;
}

.widget_panel table {
	width:100%;
}

.widget_panel td {
	padding-bottom:5px;
	vertical-align:bottom;
	font-size:16px;
}

.widget_panel .slider_table {
	table-layout:fixed;
}

.widget_panel .slider_table td {
	padding-top:5px;
	padding-bottom:15px;
}

.year_button {
	width:150px;
	border-radius:5px;
	border-color: #B70000;
	color:#B70000;
	font-weight:bold;
	font-size:18px;
	margin:10px;
}
.report_button {
	width:250px;
	border-radius:5px;
	border-color: #6B7D8D;
	color:#6B7D8D;
	font-weight:bold;
	font-size:18px;
	margin:10px;
}
.portfolio_button {
	width:250px;
	border-radius:5px;
	border-color: #0B4479;
	color:#0B4479;
	font-weight:bold;
	font-size:18px;
	margin:10px;
}

.year_selected {
	background-color:#B70000;
	color:white;
}

.year_button_row {
	padding-top:25px;
	padding-left:20px;
	padding-bottom:30px;
}
